
# DMT 2022 - Homework 2


# Instructions for the homework
  > Follow the instructions in the notebook carefully


## General instructions
  * Do NOT remove ANYTHING that is already in the notebook.
  * Before you start, show the line number for the code cells:
    * Go to Tools -> Settings -> Editor -> show line numbers
  * Having **EXACTLY TWO** students per group is **MANDATORY**
  * The software must be commented.
  * The notebook will be converted to a PDF, so you must use prints and plots that are displayed in the derived PDF.
  * About this notebook:
    * Create a personal copy to be able to modify it: File > Save a copy in Drive
    * Rename the copied notebook `DMT2022-HW2.ipynb`


## Instructions for **code**:
  * DO NOT add code cells
  * DO NOT remove any code cells
  * Only edit the code cells containing the comment `#YOUR CODE STARTS HERE#`. Within those cells:
    * DO NOT remove ANYTHING that we have written (otherwise specified). In particular, the line `#REMOVE_OUTPUT#` is used in some cells to remove the output of those cells when the notebook is converted to PDF.
    * Add your code between line `#YOUR CODE STARTS HERE#` and line `#YOUR CODE ENDS HERE#`; **DO NOT REMOVE THESE COMMENTS**
    * **The last line in each code cell is #THIS IS LINE \<TOT>#, where \<TOT> is a line number. The notebook is constructed so that \<TOT> matches with the line number in which it is written, but it may of course move as you add your code. Make sure that, when you deliver it, that comment returns to line \<TOT>. DO NOT CHANGE THE \<TOT> VALUE. Of course, this means that you have a limited number of lines of code that you may NOT exceed under any circumstances. On the other hand, if your code is shorter than that, you have to reach that line number with empty lines.**

[comment]: <> (#REMOVE_CELL#)


## Instructions for **text**:
* DO NOT add text cells
* DO NOT remove text cells
* DO NOT modify the text cells we have created.
* Only edit text cells starting with the comment ----------YOUR TEXT STARTS HERE----------. Within those cells:
  * Do NOT remove anything we have entered.
  * **Add your own text after the line ----------YOUR TEXT STARTS HERE----------; DO NOT REMOVE THIS TEXT**
  * For each cell, a specific delivery will be given. If you are given a maximum number of sentences to write, both the dot "." and the semicolon ";" will be considered sentence dividers.

[comment]: <> (#REMOVE_CELL#)


# Homework

The homework consists of two parts:

  1. PageRank

  and

  2. Recommendation System

## Group composition:

Write down the list of group members. The format should be Last Name, First Name, Serial Number. Group members should be sorted alphabetically by surname and placed on different lines.
Example:

Fazzone, Adriano, 987654

Siciliano, Federico, 999888

----------YOUR TEXT STARTS HERE----------

Boesso, Simone, 1800408 

Pecile, Giulio, 1872568

# Part 1
In this part of the homework, you have to deal with the PageRank algorithm.

## Part 1.0
Import **ALL** the Python packages that you need for Part 1.

In [5]:
#REMOVE_OUTPUT#
#YOUR CODE STARTS HERE#
!pip install scikit-network
from sknetwork.utils import get_neighbors
from sknetwork.data import *
from sknetwork.ranking import PageRank
import pandas as pd
import numpy as np
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Requirement already satisfied: scikit-network in /usr/local/lib/python3.7/dist-packages (0.26.0)
Requirement already satisfied: numpy>=1.21.5 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.21.6)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.7.3)

## Part 1.1
Using the provided dataset, you must run various PageRank algorithms.
The dataset for this part is an unweighted and undirected graph, where nodes represent characters from the "Harry Potter" books and an edge connects two characters in the graph if their names appeared at least one time within 14 words of one another in at least one of the books.

### 1.1.1
Download the dataset from the Drive link (code already provided).

In [6]:
#REMOVE_OUTPUT#
!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.6.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [7]:
#REMOVE_OUTPUT#
!gdown 11Fa9zqDPgDthm3B84My1flWN6r-ffpY0 #download harry_potter_graph1.csv

Downloading...
From: https://drive.google.com/uc?id=11Fa9zqDPgDthm3B84My1flWN6r-ffpY0
To: /content/harry_potter_graph1.csv
100% 11.7k/11.7k [00:00<00:00, 17.4MB/s]

### 1.1.2
Load and inspect the dataset: print the list of field names of the dataset and also the total number of rows.

Print also the first and last row of the dataset.

In [8]:
#YOUR CODE STARTS HERE#
# we load the db
db = pd.read_csv("harry_potter_graph1.csv")
#we prnt the list of field names
print(db.columns)
# we print the first row
print("total number of row is ",len(db))
print("the first row is: ")
print(db.iloc[0])
# we print the last row
print("the last row is:")
print(db.iloc[-1])






#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Index(['character_1', 'character_2'], dtype='object')
total number of row is  406
the first row is:
character_1     Katie Bell
character_2    Oliver Wood
Name: 0, dtype: object
the last row is:
character_1           Mrs Norris
character_2    Quirinus Quirrell
Name: 405, dtype: object

### 1.1.3
Print the sorted list of all character names (without duplicates) in ascending alphabetical order.

Print also the length of this list.

In [9]:
#YOUR CODE STARTS HERE#
names1 = set(db['character_1'])
names=list(names1.union(set(db['character_2'])))
# we order the list with all the names
names.sort()
totNum = len(names)
# we print the list with its length
print(names)
print("the total number of character is: ", totNum)









#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

['Adalbert Waffling', 'Adrian Pucey', 'Alberic Grunnion', 'Albus Dumbledore', 'Algie Longbottom', 'Alicia Spinnet', 'Angelina Johnson', 'Arabella Figg', 'Argus Filch', 'Arsenius Jigger', 'Bane', 'Bathilda Bagshot', 'Bertie Bott', 'Blaise Zabini', 'Bloody Baron', 'Boa constrictor at the Zoo', 'Circe', 'Cliodna', 'Cornelius Agrippa', 'Cornelius Fudge', 'Cuthbert Binns', 'Dean Thomas', 'Dedalus Diggle', 'Dennis', 'Doris Crockford', 'Draco Malfoy', 'Dudley Dursley', 'Elfric the Eager', 'Emeric Switch', 'Emeric the Evil', 'Enid (disambiguation)', 'Fang', 'Fat Friar', 'Fat Lady', 'Filius Flitwick', 'Firenze', 'Fluffy', 'Fred Weasley', 'Garrick Ollivander', 'Gellert Grindelwald', 'George Weasley', 'Gordon', 'Gregory Goyle', 'Gregory the Smarmy', 'Gringotts Head Goblin', 'Griphook', 'Hannah Abbott', 'Harry Potter', 'Hedwig', 'Helena Ravenclaw', 'Hengist of Woodcroft', 'Hermione Granger', 'Irma Pince', 'James Potter I', 'Jim McGuffin', 'Justin Finch-Fletchley', 'Katie Bell', 'Keeper of the reptile house', 'Lavender Brown', 'Lee Jordan', 'Lily J. Potter', 'Lily Moon', 'Lisa Turpin', 'Malcolm', 'Mandy Brocklehurst', 'Marcus Flint', 'Merlin', 'Miles Bletchley', 'Millicent Bulstrode', 'Minerva McGonagall', 'Miranda Goshawk', 'Morag MacDougal', 'Mr Paws', 'Mr Tibbles', 'Mrs Norris', 'Neville Longbottom', 'Newton Scamander', 'Nicholas de Mimsy-Porpington', 'Nicolas Flamel', 'Oliver Wood', 'Owner of the Railview Hotel', 'Padma Patil', 'Pansy Parkinson', 'Parvati Patil', 'Peeves', 'Percy Weasley', 'Perenelle Flamel', 'Petunia Dursley', 'Phyllida Spore', 'Piers Polkiss', 'Pomona Sprout', 'Poppy Pomfrey', 'Ptolemy', 'Quentin Trimble', 'Quirinus Quirrell', 'Rolanda Hooch', 'Ronald Weasley', 'Ronan', 'Rubeus Hagrid', 'Sally-Anne Perks', 'Seamus Finnigan', 'Severus Snape', 'Sirius Black', 'Snowy', 'Sorting Hat', 'Susan Bones', 'Ted', 'Terence Higgs', 'Terry Boot', 'Theodore Nott', 'Tom', 'Trevor', 'Tufty', 'Unicorn', 'Uric the Oddball', 'Vernon Dursley', 'Vincent Crabbe', 'Vindictus Viridian', 'Yvonne']
the total number of character is:  119

### 1.1.4
Create the adjacency matrix for the graph, assigning to each character a node identifier equal to the index that the character name has in ascending alphabetical order (remember that the first element of a list in Python has index 0).

In [10]:
#YOUR CODE STARTS HERE#
# we create the adjacenct matrix following the ascending alphabetical order
adj = np.zeros((119,119))
for row in db.itertuples():
  name1 = row.character_1
  name2 = row.character_2
  adj[names.index(name1),names.index(name2)]+= 1
  adj[names.index(name2),names.index(name1)]+= 1










#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

### 1.1.5
Compute the PageRank vector for the obtained graph using a damping factor of 0.8.

In [11]:
#YOUR CODE STARTS HERE#
# we compute the pageRank vector using damping factor equal to 0.8
pagerank = PageRank(damping_factor=0.8, solver="piteration", n_iter=1000, tol=10**-6)
pagerank_vector = pagerank.fit_transform(adj)














#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-10 characters according to the PageRank score of their associated nodes.

In [12]:
#YOUR CODE STARTS HERE#
char_id__score = []
for id, value in enumerate(pagerank_vector):
    char_id__score.append((id, value))
char_id__score.sort(key=lambda x: (x[1], x[0]), reverse=True)
char_id__score = char_id__score[:10] # we print the top-10 characters
top10 = [(names[id], value) for id, value in char_id__score]
pd.DataFrame(top10, columns=("character","score"))
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

            character     score
0        Harry Potter  0.091486
1      Ronald Weasley  0.037713
2       Rubeus Hagrid  0.034323
3    Hermione Granger  0.029205
4    Albus Dumbledore  0.026936
5        Draco Malfoy  0.022058
6  Neville Longbottom  0.021599
7       Severus Snape  0.021282
8      Dudley Dursley  0.018598
9      Vernon Dursley  0.015355

### 1.1.6
Compute the Topic-specific PageRank vector for the obtained graph using a damping factor of 0.9, by considering as topic the Weasley family: a character belongs to the topic if its name contains the string `Weasley`.

In [13]:
#YOUR CODE STARTS HERE#
# we compute the PageRank
pagerank = PageRank(damping_factor=0.9, solver="piteration", n_iter=1000, tol=10 ** -6)
count = 0
index = []
# we find all the characters with "Weasley"
for i in range(len(names)):
  if "Weasley" in names[i]:
    count+=1
    index.append(i)
prob = 1 / count 
diz = {i: prob for i in index} 
# we compute the topic specific PageRank vector
pagerank_vector = pagerank.fit_transform(adj,seeds=diz)




#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-20 characters according to the Topic-specific PageRank score of their associated nodes.

In [14]:
#YOUR CODE STARTS HERE#
char_id__score = []
for id, value in enumerate(pagerank_vector):
    char_id__score.append((id, value))
char_id__score.sort(key=lambda x: (x[1], x[0]), reverse=True) 
char_id__score = char_id__score[:20] # we print the top-20 characters
top20 = [(names[id], value) for id, value in char_id__score]
pd.DataFrame(top20, columns=("character","score"))
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

             character     score
0         Harry Potter  0.086388
1       Ronald Weasley  0.075632
2         Fred Weasley  0.048802
3        Percy Weasley  0.048195
4       George Weasley  0.044858
5        Rubeus Hagrid  0.041669
6     Hermione Granger  0.040929
7        Severus Snape  0.031772
8     Albus Dumbledore  0.030667
9   Neville Longbottom  0.028557
10        Draco Malfoy  0.028119
11         Argus Filch  0.018016
12   Quirinus Quirrell  0.017652
13     Filius Flitwick  0.016014
14       Rolanda Hooch  0.015329
15         Oliver Wood  0.013815
16       Poppy Pomfrey  0.013284
17              Peeves  0.013125
18      Vernon Dursley  0.012436
19     Seamus Finnigan  0.012068

### 1.1.7
Compute the Personalized PageRank vector for the obtained graph using a damping factor of 0.1 for each of the *Hogwarts professors*: Albus Dumbledore, Filius Flitwick, Firenze, Minerva McGonagall, Pomona Sprout, Quirinus Quirrell, Rolanda Hooch, Severus Snape.

In [15]:
#YOUR CODE STARTS HERE#
diz = {}
prof = ["Albus Dumbledore", "Filius Flitwick", "Firenze", "Minerva McGonagall", "Pomona Sprout", "Quirinus Quirrell", "Rolanda Hooch", "Severus Snape"]
for p in prof:
  prof_id_prob = {names.index(p) : 0.1}
  pagerank = PageRank(damping_factor=0.9, solver="piteration", n_iter=1000, tol=10 ** -6)
  # we compute the personalize pageRank vector
  pagerank_vector = pagerank.fit_transform(adj,seeds=prof_id_prob)
  diz[p] = pagerank_vector




















#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

For each of the *Hogwarts professors*, print the name and the PageRank score of the top-3 characters according to the Personalized PageRank score of their associated nodes.

In [16]:
#YOUR CODE STARTS HERE#
vectors = []
for prof, pagerank_vector in diz.items():
  print("the Hogwarts professor is ",prof)
  char_id__score = []
  for id, value in enumerate(pagerank_vector):
      char_id__score.append((id, value))
  char_id__score.sort(key=lambda x: (x[1], x[0]), reverse=True)
  # we print the top-3 characters according to the personalized PageRank 
  char_id__score = char_id__score[:3]
  top20 = [(names[id], value) for id, value in char_id__score]
  db = pd.DataFrame(top20, columns=("character","score"))
  vectors.append(db)
  display(db)
  print()



#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

the Hogwarts professor is  Albus Dumbledore

          character     score
0  Albus Dumbledore  0.142902
1      Harry Potter  0.087533
2    Ronald Weasley  0.045422

the Hogwarts professor is  Filius Flitwick

         character     score
0  Filius Flitwick  0.130172
1     Harry Potter  0.084085
2   Ronald Weasley  0.048435

the Hogwarts professor is  Firenze

       character     score
0        Firenze  0.112760
1   Harry Potter  0.101612
2  Rubeus Hagrid  0.062024

the Hogwarts professor is  Minerva McGonagall

            character     score
0        Harry Potter  0.177798
1  Minerva McGonagall  0.101928
2      Ronald Weasley  0.038997

the Hogwarts professor is  Pomona Sprout

       character     score
0  Pomona Sprout  0.108514
1   Harry Potter  0.102939
2  Rubeus Hagrid  0.063224

the Hogwarts professor is  Quirinus Quirrell

           character     score
0  Quirinus Quirrell  0.128042
1       Harry Potter  0.087434
2     Ronald Weasley  0.050690

the Hogwarts professor is  Rolanda Hooch

        character     score
0   Rolanda Hooch  0.119039
1    Harry Potter  0.087954
2  Ronald Weasley  0.050441

the Hogwarts professor is  Severus Snape

        character     score
0   Severus Snape  0.131781
1    Harry Potter  0.085137
2  Ronald Weasley  0.049176

### 1.1.8
Compute Topic-specific PageRank for the obtained graph using a damping factor of 0.1. Imagine you are in an **online** context.

The Topic is the Hogwarts professors (list of characters define in step 1.1.7)

In [17]:
#YOUR CODE STARTS HERE#
page_id__PersonalizedPageRank_score = {}
n = len(vectors)
#we are computiny the  Topic- specific pageRank imaging we are in an online context 
for PersonalizedPageRank_score in vectors:
    for row in PersonalizedPageRank_score.itertuples():
        name =row.character
        score = row.score
        id = names.index(name)
        if id not in page_id__PersonalizedPageRank_score:
            page_id__PersonalizedPageRank_score[id] = 0.
        page_id__PersonalizedPageRank_score[id] += score / n

aggregated_PersonalizedPageRank_score = list(page_id__PersonalizedPageRank_score.items())




#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-10 characters according to the Topic-specific PageRank score of their associated nodes.

In [18]:
#YOUR CODE STARTS HERE#
char_id__score.sort(key=lambda x: (x[1], x[0]), reverse=True)
#we are printing the top-10 topic specific pageRank
char_id__score = char_id__score[:10]
top10 = [(names[id], value) for id, value in aggregated_PersonalizedPageRank_score]
pd.DataFrame(top10, columns=("character","score"))


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

             character     score
0     Albus Dumbledore  0.017863
1         Harry Potter  0.101812
2       Ronald Weasley  0.035395
3      Filius Flitwick  0.016272
4              Firenze  0.014095
5        Rubeus Hagrid  0.015656
6   Minerva McGonagall  0.012741
7        Pomona Sprout  0.013564
8    Quirinus Quirrell  0.016005
9        Rolanda Hooch  0.014880
10       Severus Snape  0.016473

## Part 1.2

### 1.2.1
**Question 1:**
Define in an explicit way the adjacency matrix of a graph where the node with the highest PageRank (damping factor = 0.8) is not the one with the highest inDegree.

The graph must be directed, unweighted, composed by exactly one connected component, and with no more than 12 nodes.

Rank all the nodes in the graph according to the PageRank score of each node: from the most important to the least important. Print this rank.

Rank all the nodes in the graph according to the inDegree score of each node: from the most important to the least important. Print this rank.

On another line, print the identifier of the node with the highest inDegree score and the identifier of the node with the highest PageRank score.

In [19]:
#YOUR CODE STARTS HERE#
adj = np.zeros((12,12))
cords = [[1,0],[2,0],[3,0],[4,1],[5,1],[6,1],[7,1],[8,2],[9,2],[10,2],[11,3]]
for y,x in cords :
  adj[y,x]=1

pagerank = PageRank(damping_factor=0.8, solver="piteration", n_iter=1000, tol=10**-6)
pagerank_vector = pagerank.fit_transform(adj)

ranks = []
for index,score in enumerate(pagerank_vector):
  ranks.append(score)
  print( "the  node {} has score {} ".format(index,score))
ranks= np.array(ranks)
print()

indegrees=[]
for index in range(12):
  indegree = np.sum(np.transpose(adj)[index])
  indegrees.append(indegree)
  print( "the  node {} has in-degree {} ".format(index,indegree))
indegrees= np.array(indegrees)
print()
print("the identifier of the node with the highest inDegree score is {} and the identifier of the node with the highest PageRank score is {}".format(np.argmax(indegrees),np.argmax(ranks)))






#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

the  node 0 has score 0.4920839396761966
the  node 1 has score 0.14251679489490374
the  node 2 has score 0.11307877590823326
the  node 3 has score 0.05420273793489228
the  node 4 has score 0.024764718948221794
the  node 5 has score 0.024764718948221794
the  node 6 has score 0.024764718948221794
the  node 7 has score 0.024764718948221794
the  node 8 has score 0.024764718948221794
the  node 9 has score 0.024764718948221794
the  node 10 has score 0.024764718948221794
the  node 11 has score 0.024764718948221794

the  node 0 has in-degree 3.0
the  node 1 has in-degree 4.0
the  node 2 has in-degree 3.0
the  node 3 has in-degree 1.0
the  node 4 has in-degree 0.0
the  node 5 has in-degree 0.0
the  node 6 has in-degree 0.0
the  node 7 has in-degree 0.0
the  node 8 has in-degree 0.0
the  node 9 has in-degree 0.0
the  node 10 has in-degree 0.0
the  node 11 has in-degree 0.0

the identifier of the node with the highest inDegree score is 1 and the identifier of the node with the highest PageRank score is 0

### 1.2.2
**Question 2:**
Given a graph with `n` nodes, what is the Topic-specific PageRank vector that is obtained when running the Topic-specific PageRank algorithm with damping factor `0`? Is the result dependent on graph topology? **Use at most 3 sentences.**

----------YOUR TEXT STARTS HERE----------

Since we have damping factor equal to O, this means that alpha is equal to 1,  therefore for all the Topic-specific pages  we have a uniform vector over the topic, while for the others we have zero probability to reach them. This does not depend on the topology because we always jump randomly.

# Part 2
In this part of the homework, you have to improve the performance of various recommendation-systems by using non-trivial algorithms and also by performing the tuning of the hyper-parameters.

## Part 2.0
Import here **ALL** the Python packages that you need for Part 2.

In [22]:
#REMOVE_OUTPUT#
#YOUR CODE STARTS HERE#
!pip install scikit-surprise scipy==1.4.1
import pandas as pd; import multiprocessing
import numpy as np
from surprise import Dataset,Reader
from surprise.model_selection import KFold,cross_validate,RandomizedSearchCV
import surprise.prediction_algorithms as surp
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Collecting scipy==1.4.1
  Downloading scipy-1.4.1-cp37-cp37m-manylinux1_x86_64.whl (26.1 MB)
     || 26.1 MB 1.6 MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scipy==1.4.1) (1.21.6)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.7.3
    Uninstalling scipy-1.7.3:
      Successfully uninstalled scipy-1.7.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-network 0.26.0 requires scipy>=1.6.3, but you have scipy 1.4.1 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed scipy-1.4.1

## Part 2.1
Apply **all** algorithms for recommendation made available by Surprise libraries on the provided dataset **with their default configuration**, and use **ALL** CPU-cores available on the remote machine by specifying the value in an **explicit** way with an integer number.

### 2.1.1
Download the dataset from the Drive link (code already provided).

In [23]:
#REMOVE_OUTPUT#
!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.6.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [24]:
#REMOVE_OUTPUT#
!gdown 1MKE_PY0v30CP_rs3sNzwkmo6QvKAVn_J #download ratings_hw2.csv

Downloading...
From: https://drive.google.com/uc?id=1MKE_PY0v30CP_rs3sNzwkmo6QvKAVn_J
To: /content/ratings_hw2.csv
100% 1.23M/1.23M [00:00<00:00, 117MB/s]

### 2.1.2
Load and inspect the dataset: 
1. Print the list of fields names.
2. For each field, print the minimum and maximum values.
3. Print also the value of the first and last row of the dataset.

In [25]:
#YOUR CODE STARTS HERE#
db = pd.read_csv("ratings_hw2.csv")
# we print the columns' names
print(db.columns)
for col in db.columns:
  print(" for the column {}:".format(col))
  print(" the minimun value is {}".format(np.min(db[col])))
  print(" the maximum value is {}\n".format(np.max(db[col])))

print(" the first row is \n{}\n ".format(db.iloc[0]))
print(" the last row is \n{} ".format(db.iloc[-1]))







#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Index(['User_ID', 'Item_ID', 'Rating'], dtype='object')
 for the column User_ID:
 the minimun value is 1
 the maximum value is 943

 for the column Item_ID:
 the minimun value is 1
 the maximum value is 1682

 for the column Rating:
 the minimun value is 3.0
 the maximum value is 5.0

 the first row is
User_ID    276.0
Item_ID    559.0
Rating       4.5
Name: 0, dtype: float64

 the last row is
User_ID    758.0
Item_ID    319.0
Rating       4.5
Name: 96368, dtype: float64

### 2.1.3
Load the dataset into the appropriate scikit-surprise structure.

In [26]:
#YOUR CODE STARTS HERE#
# we load the dataset
reader = Reader( rating_scale=[3, 5], skip_lines=1)
data = Dataset.load_from_df(db,reader)




#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

### 2.1.4
Initialize a `scikit-surprise` `KFold` object with 5-folds. Set the random_state to **42**.

In [27]:
#YOUR CODE STARTS HERE#
# we create the kfolds
kf = KFold(n_splits=5, random_state=42)





#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

### 2.1.5
Define **all** the algorithms you are going to use

In [30]:
#YOUR CODE STARTS HERE#
# we define all the algs we are going to use
Normal = surp.random_pred.NormalPredictor()
baselineOnly = surp.BaselineOnly(bsl_options=baseline_Sgd, verbose=True)
KNN_Means = surp.knns.KNNWithMeans(k=40, min_k=1, bsl_options=baseline_Als, sim_options=sim_optionsPerson, verbose=True)
KNN_Basic = surp.knns.KNNBasic(k=40, min_k=1,bsl_options=baseline_Sgd, sim_options=sim_optionsCosine, verbose=True )
KNN_Z = surp.knns.KNNWithZScore(k=40, min_k=1,bsl_options=baseline_Als, sim_options=sim_optionsPerson, verbose=True)
KNN_Baseline = surp.knns.KNNBaseline(k=40, min_k=1,bsl_options=baseline_Sgd, sim_options=sim_optionsCosine,  verbose=True)










#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

### 2.1.6
Define the parameter configurations for each selected algorithm.

In [29]:
#YOUR CODE STARTS HERE#
# we define all the configurations
baseline_Sgd = {   
  'method': "sgd",  # Optimization method to use.
  'learning_rate': 0.005,  # Learning rate parameter for the SGD optimization method.
  'n_epochs': 50,  # The number of iteration for the SGD optimization method.
  'reg': 0.02,  # The regularization parameter of the cost function that is optimized: a.k.a. LAMBDA.
}

baseline_Als = {
    'method': 'als',
    'n_epochs': 5,
    'reg_u': 12,
    'reg_i': 5
}

sim_optionsPerson = {
    'name': 'pearson_baseline',
    'user_based': True,  
     'min_support': 3, 
     }
sim_optionsCosine = {
   'name': "cosine",  
   'user_based': True,  
   'min_support': 3,
}


#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

### 2.1.7
Print the number of CPU cores belonging to the machine on which Colab is running.

In [31]:
#YOUR CODE STARTS HERE#
cores = multiprocessing.cpu_count() 
cores





#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

2

Run a **5-Folds**-cross-validation for all the selected algorithms, using the parameters configuration that you selected for each algorithm.
Make sure that the cross-validation gives in output the metric measures for each split, as well as fit and test times.

In [32]:
#YOUR CODE STARTS HERE#
# we run all the algs using the selected configurations
diz1 = cross_validate(Normal, data, measures=['mae'], cv=kf, verbose=True, n_jobs=2)
diz2 =cross_validate(baselineOnly, data, measures=['mae'], cv=kf, verbose=True, n_jobs=2)
diz3 =cross_validate(KNN_Means, data, measures=['mae'], cv=kf, verbose=True, n_jobs=2)
diz4 =cross_validate(KNN_Basic, data, measures=['mae'], cv=kf, verbose=True, n_jobs=2)
diz5 =cross_validate(KNN_Z, data, measures=['mae'], cv=kf, verbose=True, n_jobs=2)
diz6 =cross_validate(KNN_Baseline, data, measures=['mae'], cv=kf, verbose=True, n_jobs=2)










#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Evaluating MAE of algorithm NormalPredictor on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.6152  0.6144  0.6094  0.6120  0.6127  0.6127  0.0020
Fit time          0.14    0.14    0.13    0.14    0.07    0.12    0.03
Test time         0.29    0.30    0.29    0.31    0.15    0.27    0.06
Evaluating MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3731  0.3734  0.3692  0.3696  0.3721  0.3715  0.0017
Fit time          0.81    0.79    0.80    0.81    0.37    0.72    0.17
Test time         0.28    0.20    0.19    0.19    0.10    0.19    0.06
Evaluating MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3665  0.3675  0.3636  0.3646  0.3675  0.3659  0.0016
Fit time          1.47    2.44    2.83    2.05    1.48    2.05    0.53
Test time         6.54    7.89    6.90    5.42    2.86    5.92    1.72
Evaluating MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.4040  0.4059  0.3986  0.4007  0.4021  0.4022  0.0025
Fit time          1.34    2.12    2.01    1.95    1.29    1.74    0.35
Test time         6.18    6.69    6.68    5.52    3.27    5.67    1.27
Evaluating MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3651  0.3656  0.3627  0.3626  0.3658  0.3643  0.0014
Fit time          1.67    2.22    2.35    2.44    1.60    2.05    0.35
Test time         6.59    7.18    6.90    5.61    3.25    5.90    1.43
Evaluating MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3682  0.3692  0.3644  0.3646  0.3677  0.3668  0.0020
Fit time          2.13    3.26    3.33    3.26    2.09    2.81    0.58
Test time         6.90    7.12    7.00    5.85    3.29    6.03    1.45

### 2.1.8
Rank all recommendation algorithms you tested according to the mean of the Mean Absolute Error metric value: from the best to the worst algorithm.

In [33]:
#YOUR CODE STARTS HERE#
# we rank all the algs according to the mean absolute error
cross = [diz1,diz2,diz3,diz4,diz5,diz6]
maes = [(i+1,sum(d["test_mae"])) for i,d in enumerate(cross)]
maes.sort(reverse=False,key=lambda x:x[1])
names=[("Normal"),("BaselineOnly","Sgd"),("KNN_Means","Als","Person"),("KNNBasic","Sgd","Cosine"),("KNNZScore","Als","Person"),("KNNBaseline","Sgd","Cosine")]
for index,value in maes:
  print("the configuration is {} with value {}".format(names[index-1],value/5))




















#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

the configuration is ('KNNZScore', 'Als', 'Person') with value 0.36433872697988806
the configuration is ('KNN_Means', 'Als', 'Person') with value 0.3659316994020716
the configuration is ('KNNBaseline', 'Sgd', 'Cosine') with value 0.36680853535714864
the configuration is ('BaselineOnly', 'Sgd') with value 0.3714693071246241
the configuration is ('KNNBasic', 'Sgd', 'Cosine') with value 0.40224816012080433
the configuration is Normal with value 0.612726593943349

## Part 2.2

You will be given several scenarios and different requirements for each of them. By respecting the requirements, you will have to:
1. Setup and print a suitable parameter configurations list;
2. Perform an optimization process to find the best configuration of parameters and print it
3. Use the same dataset as in part 1.1.

### 2.2.1
**Question 1:**
The company A-DMT wants to check **23** possible configurations for the `SVD` recommendation algorithm. The number of parameters specified for the various configurations must be at least 2 and no more than 5.

The company wants to obtain the best configuration among all the 23 configurations, considering the Root Mean Squared Error metric calculated on a cross-validation of **3** folds.

1. Define and print the configurations' dictionary that will be used for the parameter optimization.
2. Find an `SVD` model configuration that offers the best possible performance within the constraints provided by the company. Print this configuration.

The resulting solution must outperform the default `SVD` configuration according to the Mean Absolute Error metric.

In [34]:
#YOUR CODE STARTS HERE#
kf = KFold(n_splits=3, random_state=42)
# we set the parameters
grid_of_parameters = {
   'n_factors': [100,20, 40, 120],  # The MAXIMUM number of factors.
   'n_epochs': [ 20,25,30],  # The  number of epochs.
   'lr_all': [0.0025,0.0002]    
}
print( "for the parameter optimization we are going to use the following parameters:")
print( "the possible numbers of factors are: {}\nthe possible numebers of epochs are: {}\nthe possible values of learning rate are:{}".format(grid_of_parameters['n_factors'],grid_of_parameters['n_epochs'],grid_of_parameters['lr_all']))
rs = RandomizedSearchCV(surp.matrix_factorization.SVD, param_distributions=grid_of_parameters, n_iter=23, measures=['mae'], cv=kf, n_jobs=2,
                       joblib_verbose=100)
# we get the metrics
rs.fit(data)
print("THE BEST_MAE: " + str(rs.best_score['mae']))
print("BEST_PARAMETERS FOR THE CHOSEN CONFIGURATION IS: ")
print(rs.best_params['mae'])
DefaultFactors = 100
DefaultEpochs = 20
DefaultLR = 0.005
# we compare the obtained best metric with the one from a default configuration
print("These are the metrics we get with the default configurations:")
current_algo = surp.matrix_factorization.SVD(n_factors=DefaultFactors,
                  n_epochs=DefaultEpochs,
                  lr_all=DefaultLR,
                  verbose=False)

res= cross_validate(current_algo, data, measures=['mae'], cv=kf, verbose=True)
#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

for the parameter optimization we are going to use the following parameters:
the possible numbers of factors are: [100, 20, 40, 120]
the possible numebers of epochs are: [20, 25, 30]
the possible values of learning rate are:[0.0025, 0.0002]
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:    8.6s
[Parallel(n_jobs=2)]: Done   2 tasks      | elapsed:   12.7s
[Parallel(n_jobs=2)]: Done   3 tasks      | elapsed:   16.1s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   20.9s
[Parallel(n_jobs=2)]: Done   5 tasks      | elapsed:   25.1s
[Parallel(n_jobs=2)]: Done   6 tasks      | elapsed:   29.7s
[Parallel(n_jobs=2)]: Done   7 tasks      | elapsed:   35.7s
[Parallel(n_jobs=2)]: Done   8 tasks      | elapsed:   40.5s
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:   45.8s
[Parallel(n_jobs=2)]: Done  10 tasks      | elapsed:   47.0s
[Parallel(n_jobs=2)]: Done  11 tasks      | elapsed:   50.8s
[Parallel(n_jobs=2)]: Done  12 tasks      | elapsed:   54.5s
[Parallel(n_jobs=2)]: Done  13 tasks      | elapsed:  1.0min
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:  1.1min
[Parallel(n_jobs=2)]: Done  15 tasks      | elapsed:  1.2min
[Parallel(n_jobs=2)]: Done  16 tasks      | elapsed:  1.2min
[Parallel(n_jobs=2)]: Done  17 tasks      | elapsed:  1.3min
[Parallel(n_jobs=2)]: Done  18 tasks      | elapsed:  1.4min
[Parallel(n_jobs=2)]: Done  19 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done  20 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  1.7min
[Parallel(n_jobs=2)]: Done  22 tasks      | elapsed:  1.8min
[Parallel(n_jobs=2)]: Done  23 tasks      | elapsed:  1.8min
[Parallel(n_jobs=2)]: Done  24 tasks      | elapsed:  1.9min
[Parallel(n_jobs=2)]: Done  25 tasks      | elapsed:  1.9min
[Parallel(n_jobs=2)]: Done  26 tasks      | elapsed:  2.0min
[Parallel(n_jobs=2)]: Done  27 tasks      | elapsed:  2.0min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  2.1min
[Parallel(n_jobs=2)]: Done  29 tasks      | elapsed:  2.1min
[Parallel(n_jobs=2)]: Done  30 tasks      | elapsed:  2.2min
[Parallel(n_jobs=2)]: Done  31 tasks      | elapsed:  2.4min
[Parallel(n_jobs=2)]: Done  32 tasks      | elapsed:  2.4min
[Parallel(n_jobs=2)]: Done  33 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done  34 tasks      | elapsed:  2.7min
[Parallel(n_jobs=2)]: Done  35 tasks      | elapsed:  2.8min
[Parallel(n_jobs=2)]: Done  36 tasks      | elapsed:  2.9min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  2.9min
[Parallel(n_jobs=2)]: Done  38 tasks      | elapsed:  3.0min
[Parallel(n_jobs=2)]: Done  39 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  40 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  41 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  42 tasks      | elapsed:  3.2min
[Parallel(n_jobs=2)]: Done  43 tasks      | elapsed:  3.3min
[Parallel(n_jobs=2)]: Done  44 tasks      | elapsed:  3.4min
[Parallel(n_jobs=2)]: Done  45 tasks      | elapsed:  3.5min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  3.6min
[Parallel(n_jobs=2)]: Done  47 tasks      | elapsed:  3.7min
[Parallel(n_jobs=2)]: Done  48 tasks      | elapsed:  3.8min
[Parallel(n_jobs=2)]: Done  49 tasks      | elapsed:  3.9min
[Parallel(n_jobs=2)]: Done  50 tasks      | elapsed:  4.0min
[Parallel(n_jobs=2)]: Done  51 tasks      | elapsed:  4.2min
[Parallel(n_jobs=2)]: Done  52 tasks      | elapsed:  4.2min
[Parallel(n_jobs=2)]: Done  53 tasks      | elapsed:  4.4min
[Parallel(n_jobs=2)]: Done  54 tasks      | elapsed:  4.4min
[Parallel(n_jobs=2)]: Done  55 tasks      | elapsed:  4.5min
[Parallel(n_jobs=2)]: Done  56 tasks      | elapsed:  4.6min
[Parallel(n_jobs=2)]: Done  57 tasks      | elapsed:  4.7min
[Parallel(n_jobs=2)]: Done  58 tasks      | elapsed:  4.8min
[Parallel(n_jobs=2)]: Done  59 tasks      | elapsed:  4.9min
[Parallel(n_jobs=2)]: Done  60 tasks      | elapsed:  5.0min
[Parallel(n_jobs=2)]: Done  61 tasks      | elapsed:  5.1min
[Parallel(n_jobs=2)]: Done  62 tasks      | elapsed:  5.2min
[Parallel(n_jobs=2)]: Done  63 tasks      | elapsed:  5.3min
[Parallel(n_jobs=2)]: Done  64 tasks      | elapsed:  5.3min
[Parallel(n_jobs=2)]: Done  65 tasks      | elapsed:  5.4min
[Parallel(n_jobs=2)]: Done  66 tasks      | elapsed:  5.5min
[Parallel(n_jobs=2)]: Done  67 out of  69 | elapsed:  5.5min remaining:    9.9s
[Parallel(n_jobs=2)]: Done  69 out of  69 | elapsed:  5.6min remaining:    0.0s
[Parallel(n_jobs=2)]: Done  69 out of  69 | elapsed:  5.6min finished
THE BEST_MAE: 0.3750488026488927
BEST_PARAMETERS FOR THE CHOSEN CONFIGURATION IS:
{'n_factors': 20, 'n_epochs': 30, 'lr_all': 0.0025}
These are the metrics we get with the default configurations:
Evaluating MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
MAE (testset)     0.3800  0.3786  0.3776  0.3787  0.0010
Fit time          4.33    4.45    4.37    4.38    0.05
Test time         0.51    0.43    0.37    0.44    0.05

### 2.2.2
**Question 2:**
The company B-DMT wants to receive a set of possible configurations for `KNNBaseline` recommendation algorithm. The number of configurations must be more than 8 and not more than 36, the number of parameters for each configuration must be exactly 3, and the number of values for each parameter must be between 2 and 6.

The company wants to get the best configuration among all configurations, considering the Mean Squared Error metric calculated on a cross-validation of **5** folds.

1. Print the number of chosen configurations.
2. Define and print the configurations' dictionary with the sets of values for each parameter whose cartesian product gives the chosen configurations.
3. Find a `KNNBaseline` model configuration that offers the best possible performance within the constraints provided by the company. Print this configuration.

The resulting solution must outperform the default `KNNBaseline` configuration according to the Mean Absolute Error metric.

In [35]:
#YOUR CODE STARTS HERE#
print(" we choose to test 23 configurations")
kf = KFold(n_splits=5, random_state=42)
# we set the parameters
grid_of_parameters = {
   'k': [40,36,35],  # The MAXIMUM number of neighbors to take into account for aggregation.
   'min_k': [5,7,8],  # The minimum number of neighbors to take into account for aggregation.
   'sim_options': {  # A dictionary of options for the similarity measure...
       'user_based': [False, True],  # True ==> UserUser-CF, False ==> ItemItem-CF
       'name': ['cosine', 'pearson_baseline'],  # The name of the similarity measure to use.
   }  
}
print( "for the parameter optimization we are going to use the following parameters:\nthe maximum possible numbers of neighbors are: {}\nthe minimum possible numbers of neighbors are: {}\nthe possible similarity options are: user_based {}, name {}".format(grid_of_parameters["k"],grid_of_parameters["min_k"],grid_of_parameters["sim_options"]['user_based'],grid_of_parameters["sim_options"]['name']))
# we set the simulation
rs = RandomizedSearchCV(surp.knns.KNNBaseline, param_distributions=grid_of_parameters, n_iter=23, measures=['rmse'], cv=kf, n_jobs=2,joblib_verbose=100)
rs.fit(data)

print("BEST_SCORE: " + str(rs.best_score['rmse']))
print("BEST_PARAMETERS: ")
print(rs.best_params['rmse'])
DefaultK = 40
DefaultMinK = 1
current_algo = surp.knns.KNNBaseline(k=DefaultK, min_k=DefaultMinK,sim_options={}, verbose=True)
res= cross_validate(current_algo, data, measures=['mae'], cv=kf, verbose=True)
current_algo = surp.knns.KNNBaseline(k=rs.best_params['rmse']['k'], min_k=rs.best_params['rmse']['min_k'],sim_options=rs.best_params['rmse']['sim_options'], verbose=True)
res= cross_validate(current_algo, data, measures=['mae'], cv=kf, verbose=True)


#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

 we choose to test 23 configurations
for the parameter optimization we are going to use the following parameters:
the maximum possible numbers of neighbors are: [40, 36, 35]
the minimum possible numbers of neighbors are: [5, 7, 8]
the possible similarity options are: user_based [False, True], name ['cosine', 'pearson_baseline']
[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:   11.5s
[Parallel(n_jobs=2)]: Done   2 tasks      | elapsed:   14.7s
[Parallel(n_jobs=2)]: Done   3 tasks      | elapsed:   22.2s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   26.5s
[Parallel(n_jobs=2)]: Done   5 tasks      | elapsed:   33.4s
[Parallel(n_jobs=2)]: Done   6 tasks      | elapsed:   35.4s
[Parallel(n_jobs=2)]: Done   7 tasks      | elapsed:   42.7s
[Parallel(n_jobs=2)]: Done   8 tasks      | elapsed:   46.4s
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:   52.6s
[Parallel(n_jobs=2)]: Done  10 tasks      | elapsed:   56.4s
[Parallel(n_jobs=2)]: Done  11 tasks      | elapsed:  1.0min
[Parallel(n_jobs=2)]: Done  12 tasks      | elapsed:  1.1min
[Parallel(n_jobs=2)]: Done  13 tasks      | elapsed:  1.2min
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:  1.3min
[Parallel(n_jobs=2)]: Done  15 tasks      | elapsed:  1.4min
[Parallel(n_jobs=2)]: Done  16 tasks      | elapsed:  1.5min
[Parallel(n_jobs=2)]: Done  17 tasks      | elapsed:  1.5min
[Parallel(n_jobs=2)]: Done  18 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done  19 tasks      | elapsed:  1.7min
[Parallel(n_jobs=2)]: Done  20 tasks      | elapsed:  1.8min
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  1.9min
[Parallel(n_jobs=2)]: Done  22 tasks      | elapsed:  2.0min
[Parallel(n_jobs=2)]: Done  23 tasks      | elapsed:  2.1min
[Parallel(n_jobs=2)]: Done  24 tasks      | elapsed:  2.2min
[Parallel(n_jobs=2)]: Done  25 tasks      | elapsed:  2.3min
[Parallel(n_jobs=2)]: Done  26 tasks      | elapsed:  2.4min
[Parallel(n_jobs=2)]: Done  27 tasks      | elapsed:  2.5min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done  29 tasks      | elapsed:  2.6min
[Parallel(n_jobs=2)]: Done  30 tasks      | elapsed:  2.7min
[Parallel(n_jobs=2)]: Done  31 tasks      | elapsed:  2.8min
[Parallel(n_jobs=2)]: Done  32 tasks      | elapsed:  2.9min
[Parallel(n_jobs=2)]: Done  33 tasks      | elapsed:  3.0min
[Parallel(n_jobs=2)]: Done  34 tasks      | elapsed:  3.1min
[Parallel(n_jobs=2)]: Done  35 tasks      | elapsed:  3.2min
[Parallel(n_jobs=2)]: Done  36 tasks      | elapsed:  3.3min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  3.4min
[Parallel(n_jobs=2)]: Done  38 tasks      | elapsed:  3.5min
[Parallel(n_jobs=2)]: Done  39 tasks      | elapsed:  3.5min
[Parallel(n_jobs=2)]: Done  40 tasks      | elapsed:  3.6min
[Parallel(n_jobs=2)]: Done  41 tasks      | elapsed:  3.7min
[Parallel(n_jobs=2)]: Done  42 tasks      | elapsed:  3.8min
[Parallel(n_jobs=2)]: Done  43 tasks      | elapsed:  3.9min
[Parallel(n_jobs=2)]: Done  44 tasks      | elapsed:  4.0min
[Parallel(n_jobs=2)]: Done  45 tasks      | elapsed:  4.1min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  4.2min
[Parallel(n_jobs=2)]: Done  47 tasks      | elapsed:  4.3min
[Parallel(n_jobs=2)]: Done  48 tasks      | elapsed:  4.3min
[Parallel(n_jobs=2)]: Done  49 tasks      | elapsed:  4.4min
[Parallel(n_jobs=2)]: Done  50 tasks      | elapsed:  4.5min
[Parallel(n_jobs=2)]: Done  51 tasks      | elapsed:  4.6min
[Parallel(n_jobs=2)]: Done  52 tasks      | elapsed:  4.7min
[Parallel(n_jobs=2)]: Done  53 tasks      | elapsed:  4.8min
[Parallel(n_jobs=2)]: Done  54 tasks      | elapsed:  4.8min
[Parallel(n_jobs=2)]: Done  55 tasks      | elapsed:  4.9min
[Parallel(n_jobs=2)]: Done  56 tasks      | elapsed:  5.0min
[Parallel(n_jobs=2)]: Done  57 tasks      | elapsed:  5.1min
[Parallel(n_jobs=2)]: Done  58 tasks      | elapsed:  5.2min
[Parallel(n_jobs=2)]: Done  59 tasks      | elapsed:  5.3min
[Parallel(n_jobs=2)]: Done  60 tasks      | elapsed:  5.4min
[Parallel(n_jobs=2)]: Done  61 tasks      | elapsed:  5.5min
[Parallel(n_jobs=2)]: Done  62 tasks      | elapsed:  5.6min
[Parallel(n_jobs=2)]: Done  63 tasks      | elapsed:  5.6min
[Parallel(n_jobs=2)]: Done  64 tasks      | elapsed:  5.7min
[Parallel(n_jobs=2)]: Done  65 tasks      | elapsed:  5.8min
[Parallel(n_jobs=2)]: Done  66 tasks      | elapsed:  5.9min
[Parallel(n_jobs=2)]: Done  67 tasks      | elapsed:  6.0min
[Parallel(n_jobs=2)]: Done  68 tasks      | elapsed:  6.1min
[Parallel(n_jobs=2)]: Done  69 tasks      | elapsed:  6.1min
[Parallel(n_jobs=2)]: Done  70 tasks      | elapsed:  6.2min
[Parallel(n_jobs=2)]: Done  71 tasks      | elapsed:  6.3min
[Parallel(n_jobs=2)]: Done  72 tasks      | elapsed:  6.4min
[Parallel(n_jobs=2)]: Done  73 tasks      | elapsed:  6.5min
[Parallel(n_jobs=2)]: Done  74 tasks      | elapsed:  6.6min
[Parallel(n_jobs=2)]: Done  75 tasks      | elapsed:  6.6min
[Parallel(n_jobs=2)]: Done  76 tasks      | elapsed:  6.7min
[Parallel(n_jobs=2)]: Done  77 tasks      | elapsed:  6.8min
[Parallel(n_jobs=2)]: Done  78 tasks      | elapsed:  6.9min
[Parallel(n_jobs=2)]: Done  79 tasks      | elapsed:  7.0min
[Parallel(n_jobs=2)]: Done  80 tasks      | elapsed:  7.1min
[Parallel(n_jobs=2)]: Done  81 tasks      | elapsed:  7.2min
[Parallel(n_jobs=2)]: Done  82 tasks      | elapsed:  7.3min
[Parallel(n_jobs=2)]: Done  83 tasks      | elapsed:  7.4min
[Parallel(n_jobs=2)]: Done  84 tasks      | elapsed:  7.5min
[Parallel(n_jobs=2)]: Done  85 tasks      | elapsed:  7.6min
[Parallel(n_jobs=2)]: Done  86 tasks      | elapsed:  7.7min
[Parallel(n_jobs=2)]: Done  87 tasks      | elapsed:  7.8min
[Parallel(n_jobs=2)]: Done  88 tasks      | elapsed:  7.9min
[Parallel(n_jobs=2)]: Done  89 tasks      | elapsed:  8.0min
[Parallel(n_jobs=2)]: Done  90 tasks      | elapsed:  8.1min
[Parallel(n_jobs=2)]: Done  91 tasks      | elapsed:  8.1min
[Parallel(n_jobs=2)]: Done  92 tasks      | elapsed:  8.2min
[Parallel(n_jobs=2)]: Done  93 tasks      | elapsed:  8.3min
[Parallel(n_jobs=2)]: Done  94 tasks      | elapsed:  8.4min
[Parallel(n_jobs=2)]: Done  95 tasks      | elapsed:  8.5min
[Parallel(n_jobs=2)]: Done  96 tasks      | elapsed:  8.6min
[Parallel(n_jobs=2)]: Done  97 tasks      | elapsed:  8.7min
[Parallel(n_jobs=2)]: Done  98 tasks      | elapsed:  8.8min
[Parallel(n_jobs=2)]: Done  99 tasks      | elapsed:  8.9min
[Parallel(n_jobs=2)]: Done 100 tasks      | elapsed:  9.0min
[Parallel(n_jobs=2)]: Done 101 tasks      | elapsed:  9.0min
[Parallel(n_jobs=2)]: Done 102 tasks      | elapsed:  9.1min
[Parallel(n_jobs=2)]: Done 103 tasks      | elapsed:  9.2min
[Parallel(n_jobs=2)]: Done 104 tasks      | elapsed:  9.3min
[Parallel(n_jobs=2)]: Done 105 tasks      | elapsed:  9.4min
[Parallel(n_jobs=2)]: Done 106 tasks      | elapsed:  9.4min
[Parallel(n_jobs=2)]: Done 107 tasks      | elapsed:  9.5min
[Parallel(n_jobs=2)]: Done 108 tasks      | elapsed:  9.6min
[Parallel(n_jobs=2)]: Done 109 tasks      | elapsed:  9.7min
[Parallel(n_jobs=2)]: Done 110 tasks      | elapsed:  9.8min
[Parallel(n_jobs=2)]: Done 111 tasks      | elapsed:  9.9min
[Parallel(n_jobs=2)]: Done 112 tasks      | elapsed: 10.0min
[Parallel(n_jobs=2)]: Done 115 out of 115 | elapsed: 10.2min finished
BEST_SCORE: 0.45907456699896876
BEST_PARAMETERS:
{'k': 35, 'min_k': 8, 'sim_options': {'user_based': False, 'name': 'pearson_baseline'}}
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3684  0.3695  0.3642  0.3649  0.3681  0.3670  0.0021
Fit time          0.69    0.76    0.76    0.72    0.71    0.73    0.03
Test time         3.70    3.79    3.72    3.77    3.70    3.74    0.04
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Evaluating MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3612  0.3619  0.3587  0.3585  0.3604  0.3602  0.0013
Fit time          1.87    1.82    1.81    1.81    1.79    1.82    0.03
Test time         4.11    4.00    4.06    4.01    4.01    4.04    0.04


# Submission instructions

Follow the instructions precisely
1. Run the whole notebook up to this point
  * Click on this text cell and go to Runtime > Run before
  * It is essential that the notebook can be run from start to finish without us having to change anything.
2. Download the current notebook
  * File -> Download -> Download .ipynb
3. Upload the downloaded notebook in the current runtime
  * In the left sidebar menu, open the last tab (Files)
  * Click on the first button under the File title (Page with arrow pointing up)
  * In the new window, upload the notebook just downloaded

4. To turn the notebook into a pdf you need to install a Tex extension. Simply run the next cell of code:

In [36]:
!apt-get install texlive-xetex texlive-fonts-recommended texlive-plain-generic

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libnvidia-common-460 nsight-compute-2020.2.0
Use 'apt autoremove' to remove them.
The following additional packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive-base
  texlive-binaries texlive-latex-base texlive-latex-extra
  texlive-latex-recommended texlive-pictures tipa
Suggested packages:
  fonts-noto apache2 | lighttpd | httpd poppler-utils ghostscript
  fonts-japanese-mincho | fonts-ipafont-mincho fonts-japanese-gothic
  | fonts-ipafont-gothic fonts-arphic-ukai fonts-arphic-uming fonts-nanum ri
  ruby-dev bundler debhelper gv | postscript-viewer perl-tk xpdf-reader
  | pdf-viewer texlive-fonts-recommended-doc texlive-latex-base-doc
  python-pygments icc-profiles libfile-which-perl
  libspreadsheet-parseexcel-perl texlive-latex-extra-doc
  texlive-latex-recommended-doc texlive-pstricks dot2tex prerex ruby-tcltk
  | libtcltk-ruby texlive-pictures-doc vprerex
The following NEW packages will be installed:
  fonts-droid-fallback fonts-lato fonts-lmodern fonts-noto-mono fonts-texgyre
  javascript-common libcupsfilters1 libcupsimage2 libgs9 libgs9-common
  libijs-0.35 libjbig2dec0 libjs-jquery libkpathsea6 libpotrace0 libptexenc1
  libruby2.5 libsynctex1 libtexlua52 libtexluajit2 libzzip-0-13 lmodern
  poppler-data preview-latex-style rake ruby ruby-did-you-mean ruby-minitest
  ruby-net-telnet ruby-power-assert ruby-test-unit ruby2.5
  rubygems-integration t1utils tex-common tex-gyre texlive-base
  texlive-binaries texlive-fonts-recommended texlive-latex-base
  texlive-latex-extra texlive-latex-recommended texlive-pictures
  texlive-plain-generic texlive-xetex tipa
0 upgraded, 46 newly installed, 0 to remove and 42 not upgraded.
Need to get 146 MB of archives.
After this operation, 460 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lato all 2.0-2 [2,698 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 tex-common all 6.09 [33.0 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-lmodern all 2.004.5-3 [4,551 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-texgyre all 20160520-1 [8,761 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 javascript-common all 11 [6,066 B]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.8 [18.6 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.16 [5,093 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.16 [2,265 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjs-jquery all 3.2.1-1 [152 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libkpathsea6 amd64 2017.20170613.44572-8ubuntu0.1 [54.9 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic/main amd64 libpotrace0 amd64 1.14-2 [17.4 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libptexenc1 amd64 2017.20170613.44572-8ubuntu0.1 [34.5 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic/main amd64 rubygems-integration all 1.11 [4,994 B]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ruby2.5 amd64 2.5.1-1ubuntu1.11 [48.6 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby amd64 1:2.5.1 [5,712 B]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 rake all 12.3.1-1ubuntu0.1 [44.9 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-did-you-mean all 1.2.0-2 [9,700 B]
Get:24 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-minitest all 5.10.3-1 [38.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-net-telnet all 0.1.1-2 [12.6 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-power-assert all 0.3.0-1 [7,952 B]
Get:27 http://archive.ubuntu.com/ubuntu bionic/main amd64 ruby-test-unit all 3.2.5-1 [61.1 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libruby2.5 amd64 2.5.1-1ubuntu1.11 [3,072 kB]
Get:29 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libsynctex1 amd64 2017.20170613.44572-8ubuntu0.1 [41.4 kB]
Get:30 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexlua52 amd64 2017.20170613.44572-8ubuntu0.1 [91.2 kB]
Get:31 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libtexluajit2 amd64 2017.20170613.44572-8ubuntu0.1 [230 kB]
Get:32 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libzzip-0-13 amd64 0.13.62-3.1ubuntu0.18.04.1 [26.0 kB]
Get:33 http://archive.ubuntu.com/ubuntu bionic/main amd64 lmodern all 2.004.5-3 [9,631 kB]
Get:34 http://archive.ubuntu.com/ubuntu bionic/main amd64 preview-latex-style all 11.91-1ubuntu1 [185 kB]
Get:35 http://archive.ubuntu.com/ubuntu bionic/main amd64 t1utils amd64 1.41-2 [56.0 kB]
Get:36 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tex-gyre all 20160520-1 [4,998 kB]
Get:37 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 texlive-binaries amd64 2017.20170613.44572-8ubuntu0.1 [8,179 kB]
Get:38 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-base all 2017.20180305-1 [18.7 MB]
Get:39 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-fonts-recommended all 2017.20180305-1 [5,262 kB]
Get:40 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-base all 2017.20180305-1 [951 kB]
Get:41 http://archive.ubuntu.com/ubuntu bionic/main amd64 texlive-latex-recommended all 2017.20180305-1 [14.9 MB]
Get:42 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-pictures all 2017.20180305-1 [4,026 kB]
Get:43 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-latex-extra all 2017.20180305-2 [10.6 MB]
Get:44 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-plain-generic all 2017.20180305-2 [23.6 MB]
Get:45 http://archive.ubuntu.com/ubuntu bionic/universe amd64 tipa all 2:1.3-20 [2,978 kB]
Get:46 http://archive.ubuntu.com/ubuntu bionic/universe amd64 texlive-xetex all 2017.20180305-1 [10.7 MB]
Fetched 146 MB in 12s (12.5 MB/s)
Extracting templates from packages: 100%
Preconfiguring packages ...
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155203 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package fonts-lato.
Preparing to unpack .../01-fonts-lato_2.0-2_all.deb ...
Unpacking fonts-lato (2.0-2) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../02-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package tex-common.
Preparing to unpack .../03-tex-common_6.09_all.deb ...
Unpacking tex-common (6.09) ...
Selecting previously unselected package fonts-lmodern.
Preparing to unpack .../04-fonts-lmodern_2.004.5-3_all.deb ...
Unpacking fonts-lmodern (2.004.5-3) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../05-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package fonts-texgyre.
Preparing to unpack .../06-fonts-texgyre_20160520-1_all.deb ...
Unpacking fonts-texgyre (20160520-1) ...
Selecting previously unselected package javascript-common.
Preparing to unpack .../07-javascript-common_11_all.deb ...
Unpacking javascript-common (11) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../08-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../09-libcupsimage2_2.2.7-1ubuntu2.8_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../10-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../11-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../12-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.16_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../13-libgs9_9.26~dfsg+0-0ubuntu0.18.04.16_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Selecting previously unselected package libjs-jquery.
Preparing to unpack .../14-libjs-jquery_3.2.1-1_all.deb ...
Unpacking libjs-jquery (3.2.1-1) ...
Selecting previously unselected package libkpathsea6:amd64.
Preparing to unpack .../15-libkpathsea6_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libkpathsea6:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libpotrace0.
Preparing to unpack .../16-libpotrace0_1.14-2_amd64.deb ...
Unpacking libpotrace0 (1.14-2) ...
Selecting previously unselected package libptexenc1:amd64.
Preparing to unpack .../17-libptexenc1_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libptexenc1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package rubygems-integration.
Preparing to unpack .../18-rubygems-integration_1.11_all.deb ...
Unpacking rubygems-integration (1.11) ...
Selecting previously unselected package ruby2.5.
Preparing to unpack .../19-ruby2.5_2.5.1-1ubuntu1.11_amd64.deb ...
Unpacking ruby2.5 (2.5.1-1ubuntu1.11) ...
Selecting previously unselected package ruby.
Preparing to unpack .../20-ruby_1%3a2.5.1_amd64.deb ...
Unpacking ruby (1:2.5.1) ...
Selecting previously unselected package rake.
Preparing to unpack .../21-rake_12.3.1-1ubuntu0.1_all.deb ...
Unpacking rake (12.3.1-1ubuntu0.1) ...
Selecting previously unselected package ruby-did-you-mean.
Preparing to unpack .../22-ruby-did-you-mean_1.2.0-2_all.deb ...
Unpacking ruby-did-you-mean (1.2.0-2) ...
Selecting previously unselected package ruby-minitest.
Preparing to unpack .../23-ruby-minitest_5.10.3-1_all.deb ...
Unpacking ruby-minitest (5.10.3-1) ...
Selecting previously unselected package ruby-net-telnet.
Preparing to unpack .../24-ruby-net-telnet_0.1.1-2_all.deb ...
Unpacking ruby-net-telnet (0.1.1-2) ...
Selecting previously unselected package ruby-power-assert.
Preparing to unpack .../25-ruby-power-assert_0.3.0-1_all.deb ...
Unpacking ruby-power-assert (0.3.0-1) ...
Selecting previously unselected package ruby-test-unit.
Preparing to unpack .../26-ruby-test-unit_3.2.5-1_all.deb ...
Unpacking ruby-test-unit (3.2.5-1) ...
Selecting previously unselected package libruby2.5:amd64.
Preparing to unpack .../27-libruby2.5_2.5.1-1ubuntu1.11_amd64.deb ...
Unpacking libruby2.5:amd64 (2.5.1-1ubuntu1.11) ...
Selecting previously unselected package libsynctex1:amd64.
Preparing to unpack .../28-libsynctex1_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libsynctex1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libtexlua52:amd64.
Preparing to unpack .../29-libtexlua52_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libtexlua52:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libtexluajit2:amd64.
Preparing to unpack .../30-libtexluajit2_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking libtexluajit2:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package libzzip-0-13:amd64.
Preparing to unpack .../31-libzzip-0-13_0.13.62-3.1ubuntu0.18.04.1_amd64.deb ...
Unpacking libzzip-0-13:amd64 (0.13.62-3.1ubuntu0.18.04.1) ...
Selecting previously unselected package lmodern.
Preparing to unpack .../32-lmodern_2.004.5-3_all.deb ...
Unpacking lmodern (2.004.5-3) ...
Selecting previously unselected package preview-latex-style.
Preparing to unpack .../33-preview-latex-style_11.91-1ubuntu1_all.deb ...
Unpacking preview-latex-style (11.91-1ubuntu1) ...
Selecting previously unselected package t1utils.
Preparing to unpack .../34-t1utils_1.41-2_amd64.deb ...
Unpacking t1utils (1.41-2) ...
Selecting previously unselected package tex-gyre.
Preparing to unpack .../35-tex-gyre_20160520-1_all.deb ...
Unpacking tex-gyre (20160520-1) ...
Selecting previously unselected package texlive-binaries.
Preparing to unpack .../36-texlive-binaries_2017.20170613.44572-8ubuntu0.1_amd64.deb ...
Unpacking texlive-binaries (2017.20170613.44572-8ubuntu0.1) ...
Selecting previously unselected package texlive-base.
Preparing to unpack .../37-texlive-base_2017.20180305-1_all.deb ...
Unpacking texlive-base (2017.20180305-1) ...
Selecting previously unselected package texlive-fonts-recommended.
Preparing to unpack .../38-texlive-fonts-recommended_2017.20180305-1_all.deb ...
Unpacking texlive-fonts-recommended (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-base.
Preparing to unpack .../39-texlive-latex-base_2017.20180305-1_all.deb ...
Unpacking texlive-latex-base (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-recommended.
Preparing to unpack .../40-texlive-latex-recommended_2017.20180305-1_all.deb ...
Unpacking texlive-latex-recommended (2017.20180305-1) ...
Selecting previously unselected package texlive-pictures.
Preparing to unpack .../41-texlive-pictures_2017.20180305-1_all.deb ...
Unpacking texlive-pictures (2017.20180305-1) ...
Selecting previously unselected package texlive-latex-extra.
Preparing to unpack .../42-texlive-latex-extra_2017.20180305-2_all.deb ...
Unpacking texlive-latex-extra (2017.20180305-2) ...
Selecting previously unselected package texlive-plain-generic.
Preparing to unpack .../43-texlive-plain-generic_2017.20180305-2_all.deb ...
Unpacking texlive-plain-generic (2017.20180305-2) ...
Selecting previously unselected package tipa.
Preparing to unpack .../44-tipa_2%3a1.3-20_all.deb ...
Unpacking tipa (2:1.3-20) ...
Selecting previously unselected package texlive-xetex.
Preparing to unpack .../45-texlive-xetex_2017.20180305-1_all.deb ...
Unpacking texlive-xetex (2017.20180305-1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up libkpathsea6:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up libjs-jquery (3.2.1-1) ...
Setting up libtexlua52:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up libsynctex1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up libptexenc1:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up tex-common (6.09) ...
update-language: texlive-base not installed and configured, doing nothing!
Setting up poppler-data (0.4.8-2) ...
Setting up tex-gyre (20160520-1) ...
Setting up preview-latex-style (11.91-1ubuntu1) ...
Setting up fonts-texgyre (20160520-1) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up fonts-lato (2.0-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up ruby-did-you-mean (1.2.0-2) ...
Setting up t1utils (1.41-2) ...
Setting up ruby-net-telnet (0.1.1-2) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up rubygems-integration (1.11) ...
Setting up libpotrace0 (1.14-2) ...
Setting up javascript-common (11) ...
Setting up ruby-minitest (5.10.3-1) ...
Setting up libzzip-0-13:amd64 (0.13.62-3.1ubuntu0.18.04.1) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.16) ...
Setting up libtexluajit2:amd64 (2017.20170613.44572-8ubuntu0.1) ...
Setting up fonts-lmodern (2.004.5-3) ...
Setting up ruby-power-assert (0.3.0-1) ...
Setting up texlive-binaries (2017.20170613.44572-8ubuntu0.1) ...
update-alternatives: using /usr/bin/xdvi-xaw to provide /usr/bin/xdvi.bin (xdvi.bin) in auto mode
update-alternatives: using /usr/bin/bibtex.original to provide /usr/bin/bibtex (bibtex) in auto mode
Setting up texlive-base (2017.20180305-1) ...
mktexlsr: Updating /var/lib/texmf/ls-R-TEXLIVEDIST...
mktexlsr: Updating /var/lib/texmf/ls-R-TEXMFMAIN...
mktexlsr: Updating /var/lib/texmf/ls-R...
mktexlsr: Done.
tl-paper: setting paper size for dvips to a4: /var/lib/texmf/dvips/config/config-paper.ps
tl-paper: setting paper size for dvipdfmx to a4: /var/lib/texmf/dvipdfmx/dvipdfmx-paper.cfg
tl-paper: setting paper size for xdvi to a4: /var/lib/texmf/xdvi/XDvi-paper
tl-paper: setting paper size for pdftex to a4: /var/lib/texmf/tex/generic/config/pdftexconfig.tex
Setting up texlive-fonts-recommended (2017.20180305-1) ...
Setting up texlive-plain-generic (2017.20180305-2) ...
Setting up texlive-latex-base (2017.20180305-1) ...
Setting up lmodern (2.004.5-3) ...
Setting up texlive-latex-recommended (2017.20180305-1) ...
Setting up texlive-pictures (2017.20180305-1) ...
Setting up tipa (2:1.3-20) ...
Regenerating '/var/lib/texmf/fmtutil.cnf-DEBIAN'... done.
Regenerating '/var/lib/texmf/fmtutil.cnf-TEXLIVEDIST'... done.
update-fmtutil has updated the following file(s):
	/var/lib/texmf/fmtutil.cnf-DEBIAN
	/var/lib/texmf/fmtutil.cnf-TEXLIVEDIST
If you want to activate the changes in the above file(s),
you should run fmtutil-sys or fmtutil.
Setting up texlive-latex-extra (2017.20180305-2) ...
Setting up texlive-xetex (2017.20180305-1) ...
Setting up ruby2.5 (2.5.1-1ubuntu1.11) ...
Setting up ruby (1:2.5.1) ...
Setting up ruby-test-unit (3.2.5-1) ...
Setting up rake (12.3.1-1ubuntu0.1) ...
Setting up libruby2.5:amd64 (2.5.1-1ubuntu1.11) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for tex-common (6.09) ...
Running updmap-sys. This may take some time... done.
Running mktexlsr /var/lib/texmf ... done.
Building format(s) --all.
	This may take some time... done.

5. Now, run the next cell to set some cell tags in the notebook file.

In [37]:
#REMOVE_CELL#
import nbformat as nbf
from glob import glob
notebooks = glob("/content/**/*.ipynb", recursive=True)

text_search_dict = ["----------YOUR TEXT STARTS HERE----------","#YOUR CODE STARTS HERE#"]

for ipath in notebooks:
    print(ipath)
    ntbk = nbf.read(ipath, nbf.NO_CONVERT)

    for cell in ntbk.cells:
        cell_type = cell['cell_type'] == "code"
      
        cell_tags = cell.get('metadata', {}).get('tags', [])
        cell_tags = set(cell_tags)

        if cell_type == 0: #markdown
          if (cell['source'][0]!="#" and text_search_dict[cell_type] not in cell['source']) or "#REMOVE_CELL#" in cell['source']:
            cell_tags.add("remove_cell")

        else: #code
          if text_search_dict[cell_type] not in cell['source'] or "#REMOVE_CELL#" in cell['source']:
            cell_tags.add("remove_cell")
          elif "#REMOVE_OUTPUT#" in cell['source']:
            cell_tags.add("remove_output")
        
        if len(cell_tags) > 0:
            cell['metadata']['tags'] = list(cell_tags)

    nbf.write(ntbk, ipath)

/content/DMT2022_HW2.ipynb

6. Now, run the next cell to transform the notebook to PDF without the code cells.
  * The file will appear in the menu on the left (refresh if needed). The file should be named `DMT2022-HW2.pdf`
  * Rename this file **Surname1_Surname2_DMT2022HW2_report.pdf** (e.g. Fazzone_Siciliano_DMT2022HW2_report.pdf). Sort the surnames alphabetically.
  * Click on it and using the right button or the three dots at its side, click on download to transfer it to your local PC

In [38]:
!jupyter nbconvert /content/DMT2022_HW2.ipynb --to pdf --TagRemovePreprocessor.remove_cell_tags='{"remove_cell"}' -TagRemovePreprocessor.remove_all_outputs_tags='{"remove_output"}'

[NbConvertApp] Converting notebook /content/DMT2022_HW2.ipynb to pdf
[NbConvertApp] Writing 103306 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', './notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', './notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 104706 bytes to /content/DMT2022_HW2.pdf

7. Now, download this notebook again and change its name.
  * Go to File -> Download -> Download .ipynb
  * Rename the downloaded notebook **Surname1_Surname2_DMT2022HW2_notebook.ipynb** (e.g. Fazzone_Siciliano_DMT2022HW2_notebook.ipynb). Sort the surnames alphabetically.
  * **!!! Even if you have downloaded it previously, please repeat the operation at this step !!!**

8. Now that you have both files, you need to upload them to Classroom. Only the student with the surname that comes first in alphabetical order **must** upload the files. Only the files uploaded by this student will be graded.